.productPage{
  min-height: 100vh;
  width: 100%;
  background: #E9D3D3;
}
.addProductForm {
  position: relative;
  top: 20px;
  left: 500px;
  width: 100%;
  max-width: 1245px;
  height: 700px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(255, 78, 78, 0.041);
  background-color: #F1AAAA;
  display: flex;
  justify-self: start;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 30px;
  padding-left: 105px;
}

.addProductForm input {
  height: 43px;
  width: 300px;
  border-radius: 10px;
  border-color: #F83D3D;
  border-width: 1px;
}

.inputProductItem {
  display: flex;
  flex-direction: column;
  gap:15px;
}

.addProductForm label {
  font-size: 20px;
}

.descriptionProduct {
  width: 980px;
  height: 155px;
}